.commentContainer{
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    margin-top: 2rem;
}

.comment{
    background: var(--gray-700);
    padding: 1rem;
}

.comment time {
    color: var(--gray-400);
    font-size: 0.875rem;
}

.comment header {
    display: flex;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorInfo strong {
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.comment p{
    margin-top: 1rem;
    color: var(--gray-400);
}

.aplauses {
    color: var(--gray-400);
    grid-column: 2;
    display: flex;
}
.aplauses button {
    display: flex;
    background: transparent;
    border: none;
    color: var(--gray-400);
    gap: 0.5rem;
    margin-right: 0.3rem;
    cursor: pointer;
    transition: 0.5s;
}

.aplauses button:hover {
    color: var(--green-500);
    transition: 0.5s;
}

.deleteButton {
    display: flex;
    background: transparent;
    border: none;
    color: var(--gray-400);
    cursor: pointer;

    transition: 0.5s;
}

.deleteButton:hover{
    color: red;
    transition: 0.5s;
}

